/* CSS animations */

/* animation code */
@keyframes example{
    /* from {background-color: red;}
    to {background-color: paleturquoise}*/

    /* will change the color on % levels

    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;} */

    /* will change the color and position */
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}

div h1{
    width: 100px;
    height: 100px;
    position: relative;
    background-color:red;
    animation-name: example;
    animation-duration: 5s;
    /* animation-delay: -2s; */
    /* animation-iteration-count: 3; */
    animation-direction: reverse; 
    animation-fill-mode: both;  
}